<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497656372135-rgvpbksiulqbsahlvqskfidt33i2oe9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497656372135-rgvpbksiulqbsahlvqskfidt33i2oe9f</string>
	<key>API_KEY</key>
	<string>AIzaSyC0OkpsIK1VYaLM3KbUQrO6gnqpN9_S9Cs</string>
	<key>GCM_SENDER_ID</key>
	<string>497656372135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oscargarrucho.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firestorechat-5528c</string>
	<key>STORAGE_BUCKET</key>
	<string>firestorechat-5528c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497656372135:ios:ba90f59512ad707ebcb482</string>
	<key>DATABASE_URL</key>
	<string>https://firestorechat-5528c.firebaseio.com</string>
</dict>
</plist>